* {
  margin: 0;
  padding: 0;
  /* font-family: sans_serif ; */
  font-family: 'Open Sans', sans-serif;
  zoom: 0.95;
}
.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(background.jpg);
  background-size: cover;
  background-position: center;
}
.content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
}
.content h1 {
  font-size: 70px;
  margin-top: 80px;
}
.content p {
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
  font-size: 28px;
}
button {
  /* width: 200px; */
  padding: 10px 0;
  text-align: center;
  margin: 5px;

  /* border-radius: 25px;
    font-weight: bold;
    
    background : transparent;
    cursor: pointer; */
}
/* span{
    background: #2e1484;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    position: relative;
    overflow: hidden; */

/* } */

a {
  position: relative;
  background: white;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  font-weight: 400;
  padding: 15px 40px;
  transition: 0.5s;
}
a:hover {
  background: var(--clr);
  color: var(--clr);
  letter-spacing: 0.21em;
  box-shadow: 0 0 35px var(--clr);
}
a:before {
  content: '';
  position: absolute;
  inset: 2px;
  background: rgba(0, 0, 0, 0.975);
}
a span {
  position: relative;
  z-index: 1;
}
a i {
  position: absolute;
  inset: 0;
  display: block;
}
a i:before {
  content: '';
  position: absolute;
  top: 0;
  left: 80%;
  width: 10px;
  height: 4px;
  background: black;
  transform: translate(-50%) skewX(325deg);
  transition: 0.5s;
}
a:hover i:before {
  width: 20px;
  left: 20%;
}
a i:after {
  /* text-decoration: none; */
  content: '';
  position: absolute;
  bottom: 0%;
  left: 20%;
  width: 10px;
  height: 4px;
  background: black;
  transform: translate(-50%) skewX(325deg);
  transition: 0.5s;
}
a:hover i:after {
  /* text-decoration: none; */
  width: 20px;
  left: 80%;
}
.error {
  color: white;
  border: 1px solid rgb(0, 174, 255);
  box-shadow: 0 0 50px rgba(0, 140, 255, 0.92);
  margin-top: 50px;
  margin-left: 250px;
  margin-right: 250px;
  padding: 17px 48px;
  transform: translateY(-10px); /* bring the span element down by 10px */
}

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  height: 100vh;

  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(background.jpg);
}

.container {
  width: 100%;
  max-width: 650px;
  background: rgba(0, 0, 0, 0.5);
  padding: 28px;
  margin: auto;
  border-radius: 10px;
  box-shadow: inset -2px 2px 2px white;
}

.form-title {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 6px;
  color: white;
  text-shadow: 2px 2px 2px black;
  border-bottom: solid 1px white;
}

.main-user-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}

.user-input-box:nth-child(2n) {
  justify-content: end;
}

.user-input-box {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding-bottom: 15px;
}

.user-input-box label {
  width: 95%;
  color: white;
  font-size: 20px;
  font-weight: 400;
  margin: 5px 0;
}

.user-input-box input {
  height: 40px;
  width: 95%;
  border-radius: 7px;
  outline: none;
  border: 1px solid grey;
  padding: 0 10px;
}

.user-input-box select {
  width: 95% !important;
}

#dropdownblock {
  height: 40px;
  width: 98.5%;
  border-radius: 7px;
  outline: none;
  border: 1px solid grey;
  padding: 0 10px;
}

.alert-predicted-price {
  font-size: 20px;
}

.form-submit-btn {
  margin-top: 40px;
  margin: 3px;
  margin-left: 0;
}
.p-2 {
  display: flex;

  margin-left: 0;

  margin-top: 2.5rem;
}

.form-submit-btn button {
  display: block;
  width: 100%;

  font-size: 20px;
  padding: 13px;
  border: none;
  border-radius: 3px;
  color: rgb(209, 209, 209);
  background: rgba(63, 114, 76, 0.7);
}

.form-submit-btn button:hover {
  background: rgba(56, 204, 93, 0.7);
  color: rgb(255, 255, 255);
}

.main-alert {
  height: 2rem;
  font-size: 20px;
  padding: 1rem !important;
}

@media (max-width: 2000px) {
  .container {
    min-width: 280px;
    margin-top: 3rem;
    height: 500px;
  }

  .user-input-box {
    margin-bottom: 12px;
    width: 100%;
  }

  .user-input-box:nth-child(2n) {
    justify-content: space-between;
  }

  .main-user-info {
    max-height: 380px;
    overflow: auto;
  }

  .main-user-info::-webkit-scrollbar {
    width: 0;
  }
  .sop {
    display: flex;
    padding: 1rem;

    /* justify-content: right; */
  }
  .sos {
    display: flex;
    padding: 1rem;
    flex-direction: row;
    /* justify-content: right; */
  }
  .nav {
    display: flex;
    justify-content: right;
  }
  .hi {
    font-size: 30px;
  }
  .lgi {
    font-size: 1.25rem;
  }
}
.note {
  width: 95%;
  color: white;
  font-size: 20px;
  font-weight: 400;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}